@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-dark-bg text-slate-900 dark:text-slate-100 antialiased transition-colors duration-200;
  }
}
